<head>
    <script src="https://kit.fontawesome.com/8693eed2b7.js" crossorigin="anonymous"></script>
</head>
{% extends 'admin/base.html' %}

{% block title %}Product{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-white sticky-top">
   <div class="container-fluid">
      <table>
            <tr>
                <td>
                    <a class="nav-link active" aria-current="page" href="{{url_for('user.home')}}" style="margin-left: 8px;">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </td>
                <td>
                    <a class="nav-link active" aria-current="page" href="{{url_for('user.about')}}" style="margin-left: 24px;">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                </td>
            </tr>
        </table>

      <img src="/static/img/monogram-smol.png" style="height: 32px; position:absolute; left:48%;">

      <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>

     <div class="collapse navbar-collapse ms-auto" id="navbarNav">
        <ul class="navbar-nav ms-auto" style="align-items: center; display: flex;">
            <li class="nav-item ms-auto">
                <a class="nav-link active" aria-current="page" href="{{url_for('user.user')}}" style="margin-right: 16px;">
                    <i class="fa-solid fa-user"></i>
                </a>
            </li>
            <li class="nav-item ms-auto" >
                <a class="navbar-brand" style="" href="{{url_for('user.cart')}}">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </li>
        </ul>
     </div>
  </div>
</nav>

<div>
    <div class="container">
        <h1 class="display-4 subtitle"><b>{{ item.item_name }}</b></h1>
        <p class="subtitle"></p>
      <hr class="my-4">
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div>
            <img src="/static/products/{{item.item_img_name}}" class="display-image">
        </div>
        <div class="div-for-display-image" >
            <h4>Overview</h4>
            <p>
                {{ item.description }}
            </p>
        </div>

        <a href="{{url_for('user.home')}}">
            <button type="button" class="click">Back Home</button>
        </a>
    </div>
  </div>
</div>
{% endblock %}
